<!DOCTYPE html>
<html>
<head>
	<title>Web Flow Demo</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"/>
</head>
<body>

	<div class="container">
		<%= yield %>
	</div>

	<script src="/js/jquery-2.1.0.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>