<ul class="pager">
	<li class="{{ previous_button_class }}"><a href="?page={{ current_page - 1 }}">&larr; Previous</a></li>
	<li class="{{ next_button_class }}"><a href="?page={{ current_page + 1 }}">Next &rarr;</a></li>
</ul>